<aside class="aside-left">
	<div class="accord-nav js-accord-nav">
		<h3 class="accord-nav__title"><a class="accord-nav__title-link" href="#">Про службу</a></h3>
		<ul class="accord-nav__content">
			<li class="accord-nav__item"><a class="accord-nav__link" href="#">Податкове законодавство</a></li>
			<li class="accord-nav__item"><a class="accord-nav__link" href="#">Митне законодавство</a></li>
			<li class="accord-nav__item"><a class="accord-nav__link" href="#">Єдиний внесок на загально обов’язкове державне соціальне страхування</a></li>
		</ul>
		<h3 class="accord-nav__title"><a class="accord-nav__title-link" href="#">Законодавство</a></h3>
		<ul class="accord-nav__content ">
			<li class="accord-nav__item"><a class="accord-nav__link" href="#">Податкове законодавство</a></li>
			<li class="accord-nav__item"><a class="accord-nav__link" href="#">Митне законодавство</a></li>
			<li class="accord-nav__item"><a class="accord-nav__link" href="#">Єдиний внесок на загально обов’язкове державне соціальне страхування</a></li>
		</ul>
		<h3 class="accord-nav__title"><a class="accord-nav__title-link" href="#">Фізичним особам</a></h3>
		<ul class="accord-nav__content ">
			<li class="accord-nav__item"><a class="accord-nav__link" href="#">Податкове законодавство</a></li>
			<li class="accord-nav__item"><a class="accord-nav__link" href="#">Митне законодавство</a></li>
			<li class="accord-nav__item"><a class="accord-nav__link" href="#">Єдиний внесок на загально обов’язкове державне соціальне страхування</a></li>
			<li class="accord-nav__item"><a class="accord-nav__link" href="#">Податкове законодавство</a></li>
			<li class="accord-nav__item"><a class="accord-nav__link" href="#">Митне законодавство</a></li>
		</ul>
		<h3 class="accord-nav__title"><a class="accord-nav__title-link" href="#">Юридичним особам</a></h3>
		<ul class="accord-nav__content ">
			<li class="accord-nav__item"><a class="accord-nav__link" href="#">Податкове законодавство</a></li>
			<li class="accord-nav__item"><a class="accord-nav__link" href="#">Митне законодавство</a></li>
			<li class="accord-nav__item"><a class="accord-nav__link" href="#">Єдиний внесок на загально обов’язкове державне соціальне страхування</a></li>
		</ul>
		<h3 class="accord-nav__title"><a class="accord-nav__title-link" href="#">Самозайнятим особам</a></h3>
		<ul class="accord-nav__content ">
			<li class="accord-nav__item"><a class="accord-nav__link" href="#">Податкове законодавство</a></li>
			<li class="accord-nav__item"><a class="accord-nav__link" href="#">Митне законодавство</a></li>
			<li class="accord-nav__item"><a class="accord-nav__link" href="#">Єдиний внесок на загально обов’язкове державне соціальне страхування</a></li>
		</ul>
	</div>
	<div class="question question--main">
		<form class="question__form" action="#">
			<div class="question__title">ОПИТУВАННЯ</div>
			<div class="question__text">Чи підтримуєте Ви запровадження об’єднаної звітності з</div>
			<div class="question__answer">
				<input id="question-1" class="question__input" name="question" value="1" type="radio">
				<label for="question-1" class="question__label">Так</label>
				<input id="question-2" class="question__input" name="question" value="2" type="radio">
				<label for="question-2" class="question__label">Ні</label>
			</div>
			<button class="question__submit btn" type="submit" name="question-send">Відіслати</button>
			<div class="question__results">
				<a class="question__link" href="#">Результати</a>
				<a class="question__link" href="#">Архів опитувань</a>
			</div>
		</form>
	</div>
</aside>
