<aside class="aside-right">
	<div class="announce announce--main">
		<div class="announce__title">АНОНСИ ПОДІЙ</div>
		<div class="announce__item">
			<span class="announce__date">12 Серпня 2016</span>
			<a class="announce__link" href="#">Привітання Голови ДФС Романа Насірова зі святом</a>
		</div>
		<div class="announce__item">
			<span class="announce__date">12 Серпня 2016</span>
			<a class="announce__link" href="#">Привітання Голови ДФС Романа Насірова зі святом - Днем захисника України!</a>
		</div>
		<div class="announce__item">
			<span class="announce__date">12 Серпня 2016</span>
			<a class="announce__link" href="#">З нагоди свята в ДФС відзначили найкращих працівників податкової</a>
		</div>
		<a href="#" class="announce__all-btn btn">всі анонси</a>
	</div>
	<div class="videoscenes">
		<div class="videoscenes__content">
			<a href="#" class="videoscenes__link js-videoscenes-link">
				<img class="videoscenes__img" src="img/content/videoscenes-1.jpg" alt="img">
				<i class="videoscenes__icon icon-play-btn"></i>
				<span class="videoscenes__text">Привітання Голови ДФС Романа Насірова зі святом - Днем захисника України!</span>
			</a>
			<a href="#" class="videoscenes__link js-videoscenes-link">
				<img class="videoscenes__img" src="img/content/videoscenes-2.jpg" alt="img">
				<i class="videoscenes__icon icon-play-btn"></i>
				<span class="videoscenes__text">Привітання Голови ДФС Романа Насірова зі святом - Днем захисника України!</span>
			</a>
			<a href="#" class="videoscenes__link js-videoscenes-link">
				<img class="videoscenes__img" src="img/content/videoscenes-3.jpg" alt="img">
				<i class="videoscenes__icon icon-play-btn"></i>
				<span class="videoscenes__text">Привітання Голови ДФС Романа Насірова зі святом - Днем захисника України!</span>
			</a>
		</div>
		<div class="videoscenes__tabs js-videoscenes">
			<div class="videoscenes__tab">1</div>
			<div class="videoscenes__tab">2</div>
			<div class="videoscenes__tab">3</div>
		</div>
	</div>
	<a class="fuel fuel--aside" href="#">
			<div class="fuel__title">ЕЛЕКТРОНЕ АДМІНІСТРУВАННЯ</div>
			<div class="fuel__descr">РЕАЛIЗАЦIЯ ПАЛЬНОГО</div>
		<i class="fuel__icon icon-fuel"></i>
	</a>
	<div class="infobar-details infobar-details--1 infobar-details--aside">
		<div class="infobar-details__title">МИТНІ ПОСТИ</div>
		<a class="infobar-details__btn btn" href="#">Детальніше</a>
	</div>
	<div class="infobar-details infobar-details--2 infobar-details--aside">
		<div class="infobar-details__title">ЦЕНТРИ ОБЛУГОВУВАННЯ</div>
		<a class="infobar-details__btn btn" href="#">Детальніше</a>
	</div>
</aside>
