<footer class="footer">
	<div class="container">
		<div class="footer__row">
			<a class="footer__item" href="#">
				<img class="footer__item-img" src="img/content/footer-itm-1.jpg" alt="Президент України">
				<span class="footer__item-text">Президент України</span>
			</a>
			<a class="footer__item" href="#">
				<img class="footer__item-img" src="img/content/footer-itm-2.jpg" alt="Кабінет Міністрів України">
				<span class="footer__item-text">Кабінет Міністрів України</span>
			</a>
			<a class="footer__item" href="#">
				<img class="footer__item-img" src="img/content/footer-itm-3.jpg" alt="Верховна Рада України">
				<span class="footer__item-text">Верховна Рада України</span>
			</a>
		</div>
		<div class="footer__col">
			<div class="footer__nav">
				<a class="footer__nav-link" href="#">Корисні посилання</a>
				<a class="footer__nav-link" href="#">RSS</a>
				<a class="footer__nav-link" href="#">Застереження</a>
				<a class="footer__nav-link" href="#">Адміністратор</a>
			</div>
			<span class="footer__copy">&copy; 2016 Державна фіскальна служба<br> України</span>
		</div>
		<div class="footer__social">
			<div class="bigmir-net">
				<img src="img/bigmir.net.png" alt="img">
			</div>
			<div class="comment comment--footer">
				<div class="social-likes">
					<div class="facebook" title="Поділитися у Facebook">Facebook</div>
					<div class="twitter" title="Поділитися у Twitter">Twitter</div>
					<div class="plusone" title="Поділитися у Google+">Google+</div>
					<div class="pinterest" title="Поділитися у Pinterest">Pinterest</div>
				</div>
			</div>
		</div>
	</div>
</footer>
