<header class="header">
	<div class="container">
		<div class="header__col">
			<div class="lang">
				<a class="lang__link is-active" href="#">Укр</a>
				<a class="lang__link" href="#">Eng</a>
			</div>
			<a class="logo" href="#">
				<img class="logo__img js-logo" src="img/logo.png" alt="Державна фіскальна служба України">
				<span class="logo__descr">Офіційний портал</span>
			</a>
		</div>
		<div class="header__block">
			<div class="header__row">
				<div class="header__menu">
					<a href="#" class="header__menu-link">Публічна інформація</a>
					<a href="#" class="header__menu-link">Адміністративні послуги</a>
					<a href="#" class="header__menu-link">Контакти</a>
					<a href="#" class="header__menu-link">ГОЛОВНИЙ ПОРТАЛ</a>
				</div>
				<div class="header__reg">
					<a href="#" class="header__reg-link"><i class="header__reg-icon icon-plus"></i>Реєстрація</a>
				</div>
			</div>
			<div class="header__row">
				<h1 class="header__title">Державна фіскальна служба України</h1>
				<form class="header__search" action="#">
					<div class="header__search-field">
						<input class="header__search-input" type="text" name="search" placeholder="Пошук">
						<button class="header__search-btn" type="submit"><i class="header__search-icon icon-search"></i></button>
					</div>
				</form>
			</div>
			<div class="social header--social">
				<a href="#" class="social__link"><i class="social__link-icon icon-fb"></i></a>
				<a href="#" class="social__link"><i class="social__link-icon icon-tw"></i></a>
				<a href="#" class="social__link"><i class="social__link-icon icon-gp"></i></a>
				<a href="#" class="social__link"><i class="social__link-icon icon-pt"></i></a>
				<a href="#" class="social__link"><i class="social__link-icon icon-yt"></i></a>
			</div>
			<div class="limit">
				<div class="limit__btn limit__btn--blind js-black-toggle">
					<div class="limit__panel">
						<span class="limit__label">Натисніть, щоб змінити колір сайту</span>
						<span class="limit__label">Змінити розмір шрифту</span>
						<div class="limit__font js-font-decr">-</div>
						<div class="limit__font js-font-incr">+</div>
						<div class="limit__reset btn js-font-reset">Скинути</div>
					</div>
				</div>
				<div class="limit__btn limit__btn--listen"><i class="limit__btn-icon icon-limit-2"></i>
					<div class="limit__tooltip">Ви можете прослухати цю інформацію натиснувши тут: (іконка рупора чи щось таке), або після натискання Ctrl+M(або Ь)
					</div>
				</div>
			</div>
		</div>
	</div>
	<nav class="nav">
		<div class="nav__toggle js-nav-toggle" href="#">Категорії</div>
		<ul class="nav__inner js-nav">
			<li class="nav__item"><a class="nav__link" href="#">ПРО СЛУЖБУ</a>
				<ul class="nav__sub-menu">
					<li class="nav__sub-item"><a class="nav__sub-link" href="#">Про Службу</a></li>
					<li class="nav__sub-item"><a class="nav__sub-link" href="#">Законодавство</a></li>
					<li class="nav__sub-item"><a class="nav__sub-link" href="#">Фізичним особам</a></li>
					<li class="nav__sub-item"><a class="nav__sub-link" href="#">Юридичним особам</a></li>
					<li class="nav__sub-item"><a class="nav__sub-link" href="#">Самозайнятим особам</a></li>
				</ul>
			</li>
			<li class="nav__item"><a class="nav__link" href="#">ДІЯЛЬНІСТЬ</a></li>
			<li class="nav__item"><a class="nav__link" href="#">ПОДАТКИ, ЗБОРИ, ПЛАТЕЖІ</a>
				<ul class="nav__sub-menu">
					<li class="nav__sub-item"><a class="nav__sub-link" href="#">Про Службу</a></li>
					<li class="nav__sub-item"><a class="nav__sub-link" href="#">Законодавство</a></li>
					<li class="nav__sub-item"><a class="nav__sub-link" href="#">Фізичним особам</a></li>
					<li class="nav__sub-item"><a class="nav__sub-link" href="#">Юридичним особам</a></li>
					<li class="nav__sub-item"><a class="nav__sub-link" href="#">Самозайнятим особам</a></li>
				</ul>
			</li>
			<li class="nav__item"><a class="nav__link" href="#">ЕЛЕКТРОННІ ФОРМИ</a></li>
			<li class="nav__item"><a class="nav__link" href="#">ДОКУМЕНТІВ</a></li>
			<li class="nav__item"><a class="nav__link" href="#">МЕДІА</a>
				<ul class="nav__sub-menu">
					<li class="nav__sub-item"><a class="nav__sub-link" href="#">Про Службу</a></li>
					<li class="nav__sub-item"><a class="nav__sub-link" href="#">Законодавство</a></li>
					<li class="nav__sub-item"><a class="nav__sub-link" href="#">Фізичним особам</a></li>
					<li class="nav__sub-item"><a class="nav__sub-link" href="#">Юридичним особам</a></li>
					<li class="nav__sub-item"><a class="nav__sub-link" href="#">Самозайнятим особам</a></li>
				</ul>
			</li>
		</ul>
	</nav>
</header>
